@media (width < 376px) {
  .header {
    margin-block-end: 100px;
  }

  .main__title {
    line-height: 120%;
    padding-block: 4px 4px;
  }

  .main__card-text {
    gap: 25px;
  }

  .main__text {
    line-height: 114%;
    letter-spacing: 0.49px;
  }

  .floppy-desktop {
    display: none;
  }

  .floppy-mobile {
    display: inline-block;
  }
  
  #dialog-id {
    min-inline-size: 92%;
    padding-block: 30px;
    padding-inline: 40px;
  }
}
