/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font:  'Inter-Variable', sans-serif;
  --accent-font: 'PressStart2P', sans-serif;
  --main-font-weight: "wght" 410;
  --title-font-weight: "wght" 715;
  --font-color: #000;
  --button-bg: #fff;
  --button-border-hover-bg: #000;
  --accent-color: #000;
  --button-color: #fff;
  --dialog-bg-color: rgba(0, 0, 0, 0.75);
  --card-icon-bg: transparent;
  --watermark-shadow: -1px -1px 0 #fff,
  1px -1px 0 #fff,
  -1px 1px 0 #fff,
  1px 1px 0 #fff;
  --contour-color: #000;
  --animation-fill-color: red;
}